<%= form_with model: @question do |form| %>
	<div><br>
		<%= form.label :name, "Question:-" %>
		<%= form.text_field :name %>
		<%= form.select :qtype, Question.qtypes.keys %><br>
	</div><br>
	<div>
		<%= form.label :subject_id, "Subject Name:-"%>
		<%= form.collection_select(:subject_id, Subject.all, :id, :sub_name) %>
	</div><br>
	<div>
		<%= form.button "Submit", class: 'btn btn-primary' %>	
	</div>
<% end %>
