<h1><%= @question.name %></h1>
<p><%= @question.subject.sub_name %></p>
<p><%= @question.admin.email %></p>
<% @options.each do |option| %>
    <%= option.name %><br>
<% end %>


<%= link_to "ADD", new_question_option_path(@question) %>