<%= form_with model: [@question, @option] do |form| %>

	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div><br>
    <div>
		<%= form.label :correct %>
		<%= form.select :correct,options_for_select([false, true]), class: 'form-control'  %>
	</div>
    	
	<div>
		<%= form.submit %>	
	</div>
<% end %>
